<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <!-- <add key="conexao" value="DSN=MYSQL-VIPRO;Uid=root;Pwd=;"/> 
    <add key="conexao_old" value="DSN=MYSQL-VIPRO;Uid=root;Pwd=master;Pooling=true"/>s
    <add key="conexao_old2" value="Driver={MySQL ODBC 5.2(a) Driver};Server=192.168.1.200;Database=vipro;uid=root;pwd=master;Pooling=true;"/> -->
        <add key="conexao" value="server=192.168.1.200;uid=root;pwd=master;database=viprodesenv;"/>
        <add key="nfe_tipo_ambiente" value="2"/>
        <!-- 1=PRODUÇÃO, 2=HOMOLOGAÇÃO -->
        <add key="nfe_path_certificado_digital" value="c:\\temp\\ws\\"/>
        <add key="nfe_path_arquivo_xml" value="c:\\temp\\ws\\"/>
        <add key="nfe_path_schema_xsd" value="C:\\assembla_svn\\trunk\\branches\\SGE\\SGELibrary\\NFeWS\\Homologacao\\schema_xml\\PL_006j\\"/>
        <add key="nfe_arquivo_certificado_digital" value="certificado_jrc.pfx"/>
        <add key="nfe_certificado_digital_senha" value="jralt013020511"/>
        <add key="nfe_codigo_estado" value="35"/>
        <add key="nfe_versao" value="2.00"/>
    </appSettings>
</configuration>