<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SGEWeb.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <appSettings>
    <!-- <add key="conexao" value="DSN=MYSQL-VIPRO;Uid=root;Pwd=;"/> 
    <add key="conexao_old" value="DSN=MYSQL-VIPRO;Uid=root;Pwd=master;Pooling=true"/>s
    <add key="conexao_old2" value="Driver={MySQL ODBC 5.2(a) Driver};Server=192.168.1.200;Database=vipro;uid=root;pwd=master;Pooling=true;"/> -->
    <add key="conexao" value="server=192.168.1.200;uid=root;pwd=master;database=viprodesenv;"/>
    <add key="nfe_tipo_ambiente" value="2"/>    <!-- 1=PRODUÇÃO, 2=HOMOLOGAÇÃO -->
    <add key="nfe_path_certificado_digital" value="c:\\temp\\ws\\"/>
    <add key="nfe_path_arquivo_xml" value="c:\\temp\\ws\\"/>
    <add key="nfe_path_schema_xsd" value="C:\\assembla_svn\\trunk\\branches\\SGE\\SGELibrary\\NFeWS\\Homologacao\\schema_xml\\PL_006j\\"/>
    <add key="nfe_arquivo_certificado_digital" value="certificado_jrc.pfx"/>
    <add key="nfe_certificado_digital_senha" value="jralt013020511"/>
    <add key="nfe_certificado_digital_tipo" value="ONLINE"/>  <!-- ARQUIVO=Busca no path indicado, ONLINE=Busca no catálogo do browser -->
    <add key="nfe_codigo_estado" value="35"/>
    <add key="nfe_versao" value="2.00"/>
  </appSettings>
  <system.web>
    <globalization culture="pt-BR" uiCulture="pt-BR"/>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <applicationSettings>
    <SGEWeb.Properties.Settings>
      <setting name="SGEWeb_ws_nfe_homolog_status_NfeStatusServico2" serializeAs="String">
        <value>https://homologacao.nfe.fazenda.sp.gov.br/nfeweb/services/NfeStatusServico2.asmx</value>
      </setting>
    </SGEWeb.Properties.Settings>
  </applicationSettings>
  <system.serviceModel>
    <bindings>
      <customBinding>
        <binding name="NfeStatusServico2Soap12">
          <textMessageEncoding maxReadPoolSize="64" maxWritePoolSize="16"
            messageVersion="Soap12" writeEncoding="utf-8">
            <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          </textMessageEncoding>
          <httpsTransport manualAddressing="false" maxBufferPoolSize="524288"
            maxReceivedMessageSize="65536" allowCookies="false" authenticationScheme="Digest"
            bypassProxyOnLocal="false" decompressionEnabled="true" hostNameComparisonMode="StrongWildcard"
            keepAliveEnabled="true" maxBufferSize="65536" proxyAuthenticationScheme="Digest"
            realm="" transferMode="Buffered" unsafeConnectionNtlmAuthentication="false"
            useDefaultWebProxy="true" requireClientCertificate="true" />
        </binding>
        <binding name="CadConsultaCadastro2Soap12">
          <textMessageEncoding maxReadPoolSize="64" maxWritePoolSize="16"
            messageVersion="Soap12" writeEncoding="utf-8">
            <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          </textMessageEncoding>
          <httpsTransport manualAddressing="false" maxBufferPoolSize="524288"
            maxReceivedMessageSize="65536" allowCookies="false" authenticationScheme="Anonymous"
            bypassProxyOnLocal="false" decompressionEnabled="true" hostNameComparisonMode="StrongWildcard"
            keepAliveEnabled="true" maxBufferSize="65536" proxyAuthenticationScheme="Anonymous"
            realm="" transferMode="Buffered" unsafeConnectionNtlmAuthentication="false"
            useDefaultWebProxy="true" requireClientCertificate="false" />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="https://homologacao.nfe.fazenda.sp.gov.br/nfeweb/services/NfeStatusServico2.asmx"
        binding="customBinding" bindingConfiguration="NfeStatusServico2Soap12"
        contract="NfeHomologStatusServico.NfeStatusServico2Soap12" name="NfeStatusServico2Soap12" />
      <endpoint address="https://nfe.fazenda.sp.gov.br/nfeweb/services/cadconsultacadastro2.asmx"
        binding="customBinding" bindingConfiguration="CadConsultaCadastro2Soap12"
        contract="NFeWS.Producao.ConsultaCadastro.CadConsultaCadastro2Soap12"
        name="CadConsultaCadastro2Soap12" />
    </client>
  </system.serviceModel>
</configuration>